<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Il Mio Sito</a>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <p [style.color]="sito1"><a class="nav-link" href="https://www.pringles.com/it/home.html"> >Sito ufficiale Pringles</a></p>
          </li>
          <li class="nav-item">
            <p [style.color]="sito2">{{ sito2 }}<a class="nav-link" href="#">Wikipedia</a></p>
          </li>
        </ul>
      </div>
    </div>
  </nav>